<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4e01d8a-d0b6-48bb-8671-f82b16d361ba" Alias="Fairy tales" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/FairyTales</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-06-02T12:08:02</CreateDate>
    <NodeName Default="Fairy tales" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fad420e8f3ff43eb88bf1cfdabf85fcd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96adfb3b-616f-4c4c-8763-d166169286d2",
      "udi": "umb://element/fad420e8f3ff43eb88bf1cfdabf85fcd",
      "text": "<p><strong>Use the top navigation to select a fairy tale.</strong></p>\n<p>You'll find 18 classical H. C. Andersen fairy tales which you can read for free.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Fairy tales]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>