<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca4249ed-2b23-4337-b522-63cabe5587d1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-06-02T12:08:02</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <colorTheme>
      <Value><![CDATA[earth]]></Value>
    </colorTheme>
    <font>
      <Value><![CDATA[serif]]></Value>
    </font>
    <footerAddress>
      <Value><![CDATA[H.C. Andersen Haven 1, 5000 Odense C]]></Value>
    </footerAddress>
    <footerCTACaption>
      <Value><![CDATA[]]></Value>
    </footerCTACaption>
    <FooterCtalink>
      <Value><![CDATA[umb://document/b4e01d8ad0b648bb8671f82b16d361ba]]></Value>
    </FooterCtalink>
    <footerDescription>
      <Value><![CDATA[]]></Value>
    </footerDescription>
    <footerHeader>
      <Value><![CDATA[Pick and read your favorite fairy tale]]></Value>
    </footerHeader>
    <heroCTACaption>
      <Value><![CDATA[Get the book]]></Value>
    </heroCTACaption>
    <HeroCtalink>
      <Value><![CDATA[umb://document/54bd4cf4f8d04ae4b5627e949c47cd2a]]></Value>
    </HeroCtalink>
    <heroDescription>
      <Value><![CDATA[Read the wonderful fairy tales from the danish author and poet Hans Christian Andersen. Classic tales like "The Emperor's New Clothes", "The Snow Queen" and many more.]]></Value>
    </heroDescription>
    <heroHeader>
      <Value><![CDATA[Fairy tales by H. C. Andersen]]></Value>
    </heroHeader>
    <sitename>
      <Value><![CDATA[The Flying Trunk]]></Value>
    </sitename>
  </Properties>
</Content>