<?xml version="1.0" encoding="utf-8"?>
<Content Key="54bd4cf4-f8d0-4ae4-b562-7e949c47cd2a" Alias="The Flying Trunk: Fairy Tales by H. C. Andersen" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/TheFlyingTrunkFairyTalesByHCAndersen</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-06-02T12:08:02</CreateDate>
    <NodeName Default="The Flying Trunk: Fairy Tales by H. C. Andersen" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[Books]]></Value>
    </category>
    <contentBlocks>
      <Value><![CDATA[]]></Value>
    </contentBlocks>
    <description>
      <Value><![CDATA[Contains 18 classic fairy tales from H. C. Andersen, like "The Emperor's New Clothes" and "The Snow Queen".]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <price>
      <Value><![CDATA[199]]></Value>
    </price>
    <productName>
      <Value><![CDATA[The Flying Trunk: Fairy Tales by H. C. Andersen]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[]]></Value>
    </sku>
  </Properties>
</Content>