<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="415f2dea-420f-405f-9378-b31a797fb188" Alias="blog" Level="1">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-books color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="2a11c8fa-a601-4ab6-b17b-7d88601d25c6">contentBase</Composition>
      <Composition Key="b726328c-555d-41e0-a7a0-9c78929aa254">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>