<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6101eb68-20af-4836-8c50-771b0588cf43" Alias="search" Level="1">
  <Info>
    <Name>Search</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="2a11c8fa-a601-4ab6-b17b-7d88601d25c6">contentBase</Composition>
      <Composition Key="b726328c-555d-41e0-a7a0-9c78929aa254">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>